.createTaskForm {
  margin-top: -1.6975rem;
  background: blue;
  display: flex;
  justify-content: center;
  width: 736px;
}

input {
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 0px;
  height: 3.375rem;
  padding: 1rem;
  width: 100%;
}

button {
  background-color: var(--blue-dark);
  color: var(--gray-100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}